<!-- Describe task in general -->

<img src="{{MEDIA_CONVERT}}title.png" class="title_img" />

<p style="text-align: justify;">
    Sie stehen an dem Punkt <b>(x, y)</b> im <i>Gitter</i> aus Paaren nichtnegativer Zahlen und möchten sich zum Ausgangspunkt <b>(0, 0)</b> begeben. An jedem Punkt dürfen Sie entweder einen Schritt nach links oder einen Schritt nach unten gehen. Außerdem dürfen Sie nie einen der Punkte in der Liste <b>tabu</b> betreten (der Ursprung liegt nie in <b>tabu</b>). Diese Funktion soll die Anzahl der verschiedenen Wege addieren, die unter diesen Einschränkungen vom Punkt <b>(x,y)</b> zum Ursprung <b>(0,0)</b> führen. 
</p>
<p><i>
    Wenn Sie einen Tipp brauchen, finden Sie hier zwei Lösungsvorschläge (klicken Sie auf einen Tipp):
</i></p>

<!-- <p style="text-align: center;">
    <img  title="example" src="{{MEDIA}}example.png" alt="example" style="max-height: 83px"/>
</p> -->

<!-- Explain input and output values -->
<p>
   <strong>Eingabe:</strong> <b>position</b> als {% if is_js %}Array{% else %}Tupel{% endif %} <span>({% if is_js %}array{% else %}tuple{% endif %})</span> aus zwei ganzen Zahlen <span>({% if is_js %}number{% else %}int{% endif %})</span> und <b>tabu</b> als {% if is_js %}Array{% else %}Liste{% endif %} <span>({% if is_js %}array{% else %}list{% endif %})</span> von Positionen.
</p>

<p>
   <strong>Ausgabe:</strong> Ganzzahl <span>({% if is_js %}number{% else %}int{% endif %})</span>. 
</p>


<p>
    <strong>Beispiele:</strong>
</p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>

<!-- Here you can explain how it can be used in development -->
<!-- The section is optional -->
<!-- <p class="for_info_only">

    <strong>How it’s used:</strong>
    <i>This technique of using for-loops to fill out the memoization tables instead of using a recursive formula is called dynamic programming.</i>
</p> -->

<!-- Here you can explain some constraints for input-->
<!-- The section is optional -->
<p>
    <strong>Vorbedingung:</strong>
    <ul>
    <li><i>x &gt;= 0 und y &gt;= 0</i>.</li>
    </ul>
</p>

<p><i>Die Aufgabe wurde von <span>Python CCPS 109</span> übernommen. Sie wird für <span>Ryerson Chang School of Continuing Education</span> gelehrt von <a href="https://github.com/ikokkari">Ilkka Kokkarinen</a></i></p>
